.nav-toggle {
  display:none;
  background: none;
  border-style: solid;
  border-color: brown;
  border-radius: .5em;
  position:fixed;
  z-index:100;
}



.nav-item {
    display:inline-block;

margin-right:1em;
}
    
    .h{
      position: relative;
      margin-top: 10%;
    }
    
.navbar {
  list-style-type:none;
  background-color:DarkTurquoise;
  padding:0%;
  text-align:center;
  position:fixed;
  width:100%;
  margin:0%;
  padding-top: 0.5px;
  display:block;
}

.navbar li {
  display:inline-block;
  margin-left:20px;
  
}
}
