h1{
              text-align:center;
            }
.mySlides {
  display:none
  
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #02a612;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.s{
  padding-top:9%;
  padding-left:5%;
  width: 50%;
  font-size:1.3em;
}


.h{
  position:relative;
  margin:5%;
  top:10%;
}
footer {
  width:100%;
  bottom:0;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 80%;
  left:0;
  right:0;
  background-color:gray;
  border-color:white;
  color:white;
  display:block;
}
.s{
  padding-top:10%;
  padding-left:5%;
  width: 50%;
  font-size:1.3em;
}
.d{
  position:absolute;
  top: 47em;
  right:12em;
  width: 20%;
  font-size:1.3em;
}

.item {
    margin: 10px;
}

.navigationdesktop{
    font-size: .8em;
    background: DarkGray;
 
}
.wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}

h2 {
    background: Grey;
    text-align: center;
    color: white;
    height: 40px;
}
  nav a:hover {
        background: Black;
        color:White ;
      
  
    }
    nav ul {
        list-style-type: none;
    }
    nav ul li {
        float: left;
        width: 140px;
        height: 40px;
        line-height: 40px;
        line-height: 40px;
        background: DarkGray;
    }
    nav ul ul li {
        position: relative;
        display: none;
    }
    nav ul li:hover ul li {
        display: block;
        animation: navmenu 500ms;
    }
    nav {
    height: 40px;
    width: 560px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    
    
}

nav a {
    display: block;
    text-decoration: none;
}

 nav h1 {
    text-align:center;
    color:DarkGray;
    background-color: black;
    width:100%;
         z-index:20;
 }
 