 h1 {
    text-align:center;
    color:DarkTurquoise;
    background-color: black;
    width:100%;
S
 }
 
 nav {
  background-color:black;
  width:100vw;
  padding:0.05%;
  padding-left:10%;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

ul li {
   list-style-type:none;
  text-align:center;
  font-size:120%;
  display:inline;
  padding:10%;
  margin: 2px;
}

ul a {
  color:white;
  text-decoration:none;
}
ul li a:hover {
    background-color:green;
}

ul li ul li{
    display:none; 
    position: relative;
}

ul li:hover ul li{
    display:block;
    height:20%;
}


ul nav:hover ul nav{
    width:50%;
    
    
}
















