main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F9FBFE;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin: 9.5% 18%;
    border-radius: 4px;
border:solid; 
    
}

body {
    display: block;
    width: 100%;
    background: black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}